.banner_area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 175px;
}
.banner_line {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.banner_container {
  max-width: 1590px;
  padding: 0px 40px;
  margin: auto;
  position: relative;
}
.banner_wraper {
  display: flex;
  flex-wrap: wrap;
}
.banner_left {
  flex: 0 0 auto;
  width: 61%;
}
.banner_title h1 {
  font-weight: 700;
  color: #0a142f;
  text-align: right;
  line-height: 150px;
}

.image_content .image {
  flex: 0 0 auto;
  width: 329px;
}
.image_content img {
  max-width: 100%;
  border-radius: 30px;
}
.image_content {
  display: flex;
  margin-top: 30px;
}
.image_content .image {
  position: relative;
}
.image_content .shape {
  position: absolute;
  bottom: -80px;
  right: -70px;
  z-index: -1;
}
.banner_content {
  padding-left: 70px;
  flex: 1;
}
.banner_content p {
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 26px;
}
.banner_right {
  flex: 1;
  padding-left: 36px;
  margin-top: 180px;
}
.banner_right img {
  max-width: 100%;
  border-radius: 30px;
}
.right_image_wrap {
  position: relative;
}
.right_image_wrap .star_img {
  position: absolute;
  bottom: -50px;
  left: -50px;
}

.btn {
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  background-color: #ffc93e;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #0a142f;
  min-width: 293px;
  transition: all 0.5s;
  font-family: "Inter", sans-serif;
}
.btn:hover {
  background-color: #0a142f;
  color: #ffc93e;
}

.btn svg {
  margin-left: 5px;
}

@media only screen and (max-width: 1399.98px) {
  .btn {
    min-width: 180px;
    height: 50px;
  }
  .btn svg {
    width: 16px;
  }
  .banner_content {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .banner_content {
    padding-left: 20px;
  }
  .image_content .image {
    width: 280px;
  }
  .banner_content p {
    font-size: 18px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 991.98px) {
  .banner_area {
    padding-top: 120px;
  }
  .banner_wraper {
    display: block;
  }
  .banner_left {
    width: 100%;
  }
  .image_content {
    flex-direction: column-reverse;
    padding-left: 0;
    text-align: center;
    padding-left: 0;
  }
  .banner_content {
    padding-left: 0;
    margin-bottom: 30px;
  }
  .banner_content p {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
  }
  .banner_container {
    padding: 0px 20px;
  }
  .banner_line img {
    width: 200px;
    right: 0;
  }
  .image_content .image {
    width: 100%;
  }
  .image_content .shape {
    right: 0;
  }
  .banner_right {
    margin-top: 80px;
  }
  .right_image_wrap .star_img {
    right: -20px;
    left: unset;
  }
}
