.conferance_wraper {
  padding-top: 209px;
}
.heading {
  margin-bottom: 50px;
}
.heading h2 {
  color: #0a142f;
  font-weight: 700;
  margin-bottom: 16px;
}
.heading p {
  font-size: 20px;
  color: rgba(10, 20, 47, 0.8);
}

.conferance_info_wraper {
  display: flex;
  flex-wrap: wrap;
}

.conferance_info_left {
  flex: 0 0 auto;
  width: 34%;
}
.conferance_info_right {
  flex: 1;
  margin-left: 48px;
}
.conferance_info_right {
  background-color: #fbfbfb;
  border-radius: 8px;
  padding: 40px 50px;
}
